<% include partials/header %>

      <div class="starter-template">
        <h1>Entrar</h1>
        <form class="form-signin" method="post">
      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Por favor identifique-se</h1>
      <label for="inputUsername" class="sr-only">Usuário</label>
      <input name="username" type="text" id="inputUsername" class="form-control" placeholder="Usuário" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input name="passoword" type="password" id="inputPassword" class="form-control" placeholder="Password" required>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
<% include partials/footer %>